main{
    margin: 5%;
    background-color: rgb(143, 182, 202);
}



h3{
    font-size: 50px;
    color: rgb(238, 238, 238);
    padding: 1%;
    margin-bottom: 1%;

}

p{
    font-size: 20px;
    padding: 2%;
    color: #334257;
}
