#mainAbout {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    background-color: #334257;
    margin-bottom: 0;
}

#h3About {
    font-size: 50px;
    color: #EEEEEE;
    padding: 1%;
    margin-bottom: 1%;
}

#pAbout {
    font-size: 20px;
    padding: 2%;
    color: #EEEEEE;
}