main{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    background-color: rgb(143, 182, 202);
    margin-bottom: 0;
}



 h3{
    font-size: 50px;
    color: rgb(238, 238, 238);
    padding: 1%;
    margin-bottom: 1%;

}

p{
    font-size: 20px; 
     padding: 2%;
    color: #334257;
} 
