main{
    margin-top: 6%;
}
#imgDiv .name .price{ 
    color: grey;
    font-size: 100%;
   margin-top: 5%;
   margin-bottom: 5%;
}
#imgDiv .name{
    color:black;
    font-family:cursive ;
    font-size: 100%;
    margin-top: 5%; 
}

#imgDiv .imeges {
    width: 100%;
    height: 100%;
}

#imgDiv .addToCart{
    border: none;
    outline: 0;
    padding: 12px;
    color: #EEEEEE;
    background-color: #334257;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
#imgDiv .addToCart:hover{
    opacity: 0.5;
}
#imgDiv {
    position: relative;
    width: 19%;
    display: inline-table;
    text-align: center;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 50%;
    margin: auto;
    margin-bottom: 5%;
    margin-right: 9%;
    margin-left: 5% ;
    background-color: white;
} 

 #imgDiv:nth-child(10) {
    margin-left: 38%;
  } 

  #showall-button{
   
    padding: 12px;
    margin-left: 42%;
    background-color: #334257;
    color: #EEEEEE;
    font-size: 170%;
    text-decoration: none;

  }

  #showall-button:hover{

    transition-property: border-radius, background-color;
    transition-duration: 1s, 1s;
    transition-timing-function: linear, linear;
    border-radius: 50%;
    opacity: 0.8;


  }

  